<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset= 'utf-8'/>
    <title>Soongsil Campus Map</title>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/commonHiddenMenu.css"/>
    <link rel="stylesheet" href="../static/css/commonBoard.css"/>
    <link rel="stylesheet" href="../static/css/home.css"/>
    <script src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../static/js/script/commonLayout.js"></script>
    <script src="../static/js/script/commonHiddenMenu.js"></script>
    <script src="../static/js/script/commonBoard.js"></script>
</head>
<body>
    <div class="screenLimit">
        <div class="header">
            <i class="fas fa-bars menuIcon fa-lg"></i>
            <h class="title">Soongsil Campus Map</h>
            <img class="headerLogo" src="../image/blueLogo.png" alt="logo"/>
        </div>
        <div class="content">

        </div>
        <div class="footer">
            <img id="homeIcon" class="moveIcon" src="../static/image/homeIcon.png" alt="homeIcon"/>
            <img id="mapIcon" class="moveIcon" src="../static/image/mapIcon.png" alt="mapIcon"/>
            <img id="infoBoardIcon" class="moveIcon" src="../static/image/infoBoardIcon.png" alt="infoBoardIcon"/>
            <img id="freeBoardIcon" class="moveIcon" src="../static/image/freeBoardIcon.png" alt="freeBoardIcon"/>
        </div>
        <div class="hidden">
            <div class="menuSlide">
                <img class="profile" src="../static/image/profilePeople.png" alt="profilePicture">
                {% if not user.is_authenticated %}
                <h5 class="loginPlease">로그인하기</h5>
                {% endif %}

                {% if user.is_authenticated %}
                <h5 class="loginPlease">{{user.username}}</h5>
                {% endif %}
                <h5 class ="menuQuit">x</h5>
            </div>
            <div class="menuQuit2">
                
            </div>
            {% if not user.is_authenticated %}
            <div class="loginSlide">
                <div class="loginBox">
                    <h6 class="loginText">로그인</h6>
                    <h6 class="loginQuit">x</h6><br/>
                    <form method ="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input name = "username" class="loginId" type="text" placeholder="사용자 아이디" required><br/>
                        <input name = "password" class="loginPwd" type="password" placeholder="비밀번호" required><br/>
                        <input class="loginSubmit" type="submit" value="로그인"></input><br/>
                    </form>
                    <h6 class="loginRegister">회원가입</h6>
                    <h6 class="loginFind">아이디/비밀번호 찾기</h6>
                </div>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="loginSlide">
                <div class="loginBox">
                    <h6 class="loginText">로그아웃 하시겠습니까?</h6>
                    <h6 class="loginQuit">x</h6><br/>
                    <form method ="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input class="loginSubmit" type="submit" value="로그아웃"></input><br/>
                    </form>
                </div>
            </div>
            {% endif %}
    </div>
</body>