<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset= 'utf-8'/>
    <title>Soongsil Campus Map - 지도 </title>
    <link rel="stylesheet" href="../static/css/commonLayout.css"/>
    <link rel="stylesheet" href="../static/css/commonHiddenMenu.css"/>
    <link rel="stylesheet" href="../static/css/map.css"/>
    <script src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../static/js/script/commonLayout.js"></script>
    <script src="../static/js/script/commonHiddenMenu.js"></script>
    <script src="../static/js/script/map.js"></script>
</head>
<body>
    <div class="screenLimit">
        <div class="header">
            <i class="fas fa-bars menuIcon fa-lg"></i>
            <h class="title">Soongsil Campus Map</h>
            <img class="headerLogo" src="../static/image/blueLogo.png" alt="logo"/>
        </div>
        <div class="contentMap">
            <div id="map" style="width:90%;min-width:700px;max-width:800px;height:800px;"></div>
	        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	1a836a7795770e5334d4b02985cf954a"></script>
	        <script>
		        var container = document.getElementById('map');
		        var options = {
                    // 학교위치 - 위도:  37.49679696920952 경도: 126.95693165834993 
		        	center: new kakao.maps.LatLng(37.496000, 126.958231),
		        	level: 3
		        };
                var infowindows = [];
		        var map = new kakao.maps.Map(container, options);
                var names=["피라미드", "미래관", "조만식기념관", "학생회관", "웨스터민스터홀", "진리관", "베어드홀", "형남공학관", "숭덕경상관", "문화관", "전산관", "정보과학관", "벤처중소기업센터", "교육관", "백마관", "중앙도서관"];
                var types=["교내 복사실", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물", "교내 건물"];
                var infoList=["도서관에 가는 길에 있는 교내 복사실 <br/>복사기가 10대 이상 있어 많이 이용되며 무인 충전기를 통해 충전 가능<br/>최초 사용시에는 회원 가입이 필요하며 데스크에서 제본도 가능<br/>",
                 "미래관에는 주로 영어 및 여러 언어들 수업이 진행되며<br/> 아래층에는 곱등이가 살았었다 지금은 아니지만 예전엔 동아리방이 미래관에 있었다 <br/>미래관 앞에 농구코트가 존재한다<br/>", 
                 "1층에 복사기 1대가 존재한다<br/> 4층에 생협이 있다. <br/> 조만식기념관 앞에는 나무계단이 존재하고, 많은 학생들이 쉴 공간이 존재<br/>",
                 "학생 식당, 생협, 각종 가게들과 동아리방이 있다<br/> 엘레베이터와 들어가는 통로가 여러개 존재한다<br/> 학생식당 및 생협 운영시간이 매번 유리창에 붙어있음<br/><br/>",
                 "웨스터민스터홀은 이름이 어렵다<br/>오레오숭실쉐이크(오숭쉐)를 파는 매점이 1층에 존재<br/>그곳에는 공부할 수 있는 공간도 있다<br/> 도담식당이 존재하고 가격은 조금 비싸지만 영양가가 넘친다<br/>",
                 "진리관은 나름 최신 건물이다<br/>법학과 학생회실이 있다<br/>다양한 교양 수업을 듣는 장소이다<br/>5층에는 많은 학생을 수용할 수 있는 세미나실이 있다<br/>2층인가 3층에는 괴담이 존재한다<br/>", 
                 "베어드홀은 자연대 건물이다<br/> 우리은행 ATM기가 있다<br/> 숭실대학교 캠퍼스 중앙에 위치한 건물이다<br/>", 
                 "형남공학관은 공대가 많이 들어있다<br/>학교 랜드마크인 건물로써 매우 높다<br/> 학생들이 쉴 수 있는 형남홀 존재<br/> 형남공학관 근처의 계단에는 형남풍이라는 이름의 바람이 분다<br/>", 
                 "최근 다시 지은 건물 안에 카페 있음<br/>경상계열 학생들이 수업을 듣는 건물이다 <br/> 120주년 기념관으로써 학교에서 가장 최신식 건물<br/>", 
                 "문화관 1층에는 앉아서 말할 수 있는 공간이 존재한다<br/>융합특성화자유전공학부와 건축학부 학생회실이 있다<br/>", 
                 "1층에는 더키친이라는 음식점과 교직원 식당이 있다<br/>주로 IT계열 교수님의 연구실이 있다<br/>", 
                 "정보섬은 IT대 수업이 주로 있는 건물이다<br/>지하에는 Space N이 존재한다 <br/> 3층 복도에는 팀프로젝트를 할수있는 공간이 <br/> ", 
                 "벤처중소기업센터에서는 학생들의 창업을 도와주는 센터가 존재한다<br/> 교수님 연구실들도 존재하며 엘레베이터가 있다<br/>", 
                 "교육관은 학생들이 교직이수를 위한 수업들을 들을 수 있는 장소이다. <br/>", 
                 "백마관은 2018년에 새로 들인 컴퓨터들이 있는 공간이다 <br/> 많이 낡아서 다음에 리모델링하는 건물이 있다면 백마관이 될것같다", 
                 "중앙도서관은 크게 지상층과 지하층으로 나뉜다<br/> 지상층에는 일반 도서와 공부할 수 있는 공간이 존재하며 저녁이 되면 문을 닫고<br/> 지하층은 공부만을 위해 있는 공간으로 24시 개방하는 경우도 많다<br/>\
                 6층에는 카페가 있고 1층에는 뭐였더라 뭐로 리모델링 되었음<br/> 들어가려면 출입증이 필요하다<br/> 출입증을 카드가 아닌 앱으로 할 경우 앱을 켠지 10초가 넘어갈 경우<br/>출입증이 안먹히므로 앱을 다시 켜줘야됨<br/>"];
                var memoList=["사람 많으면 줄서야하는 경우도 있어서 충전같은걸 미리 해놔야겠다", 
                "엘레베이터가 없었으니까 5층수업 갈때는 일찍 가야겠다", 
                "채플들으러 갔었다 그외엔 간적이 없음 중간쯤에 공부할 수 있는 공간 있던데", 
                "들어갔을떄 나온곳이 1층인줄 알았는데 알고보니 4층이었다",
                "카페가 좋긴 한데 책상이 대부분 낮았다",
                "엘레베이터가 2대나 있고 뭔가 최첨단이었다",
                "베어드홀",
                "형남공학관",
                "카페가 숭실마루랑 비슷한것같다",
                "문화관도 엘레베이터가 없어서 일찍 다녀야겠다",
                "전산관",
                "주말에는 들어가려면 세콤 학생증이 필요했다",
                "벤처중소기업센터",
                "교육관 잠깐 들어가봤는데 수업없어서 더 안가봤음",
                "건물이 바스라질 것 같아서 수업 있더라도 최대한 빨리 나와야겠다",
                "지하에 열람실이 있어서 잘 안가게됨 지하<<<<<<<<<<<<<지상층이 더 좋은것같음"];
                var positions = [
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">피라미드</div>',
                        latlng: new kakao.maps.LatLng(37.496000, 126.958231),
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">미래관</div>',
                        latlng: new kakao.maps.LatLng(37.495636, 126.958433)
                    },
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">조만식기념관</div>',
                        latlng: new kakao.maps.LatLng(37.497300, 126.958221)
                    },
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">학생회관</div>',
                        latlng: new kakao.maps.LatLng(37.497000, 126.956820)
                    },          
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">웨스터민스터홀</div>',
                        latlng: new kakao.maps.LatLng(37.496800, 126.958431)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">진리관</div>',
                        latlng: new kakao.maps.LatLng(37.496900, 126.957461)
                    },
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">베어드홀</div>',
                        latlng: new kakao.maps.LatLng(37.496500, 126.956461)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">형남공학관</div>',
                        latlng: new kakao.maps.LatLng(37.495700, 126.956061)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">숭덕경상관</div>',
                        latlng: new kakao.maps.LatLng(37.496900, 126.955061)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">문화관</div>',
                        latlng: new kakao.maps.LatLng(37.496600, 126.954361)
                    } ,          
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">전산관</div>',
                        latlng: new kakao.maps.LatLng(37.495456, 126.959533)
                    } ,       
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">정보과학관</div>',
                        latlng: new kakao.maps.LatLng(37.494536, 126.959933),
                    } ,    
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">벤처중소기업센터</div>',
                        latlng: new kakao.maps.LatLng(37.497556, 126.957533),
                    } ,
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">교육관</div>',
                        latlng: new kakao.maps.LatLng(37.497856, 126.956833),
                    } ,    
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">백마관</div>',
                        latlng: new kakao.maps.LatLng(37.497856, 126.956233),
                    },     
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">중앙도서관</div>',
                        latlng: new kakao.maps.LatLng(33.450701, 126.570767),
                    }                      
                                                                                                                                                       
                ];

                                for (var i = 0; i < positions.length; i ++) {
                   // 마커를 생성합니다

                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: positions[i].latlng, // 마커의 위치
                        clickable: true
                    });

                    // 마커에 표시할 인포윈도우를 생성합니다 
                    var infowindow = new kakao.maps.InfoWindow({
                        content: positions[i].content, // 인포윈도우에 표시할 내용
                        subject: positions[i].content,
                    });
                    infowindows.push(infowindow);
                    var clicked = 0;
                    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    var index = i;
                    kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow, clicked, positions, index));
                }
                function makeOverListener(map, marker, infowindow, clicked, positions, index) {
                    return function() {
                        console.log('clicked: ' + clicked);
                        if(clicked === 0){
                            allInfowindowClose();
                            clicked = 1;
                            infowindow.open(map, marker);
                            console.log("map "+index);
                            $('#markName').html(names[index]);
                            $('#markType').html(types[index]);
                            $('#markInfo').html(infoList[index]);
                            $('#markMemo').html(memoList[index]);
                        }
                        else{
                            clicked = 0;
                            infowindow.close();
                        }
                    };
                }
                function allInfowindowClose() {
                   for(var i=0; i<infowindows.length; i++) {
                        var infowindow = infowindows[i];
                        infowindow.close();
                    }
                };

	        </script>
            {% comment %}지도찍는 스크립트
            <script>
            var positions = [];
            for (var i = 0; i < Object.keys(attractions).length; i++) {
                var content = {
                title: attractions[i].title,
                latlng: new kakao.maps.LatLng(attractions[i].mapy, attractions[i].mapx),
                addr1: attractions[i].addr1,
                detail: "디테일입니다 추후 추가예정",
                tel: attractions[i].tel,
            }
            positions.push(content);
            };
            console.log(positions);
            </script> 
            {% endcomment %}
        </div>
        <div class="infoMap">
            <div id="markTitle">
                <h id="markName">숭실대학교</h>
                <h id="markType">대학교</h><br/><br/><br/>
            </div>
            <div id="markContent">
                <p id="markInfo">숭실대학교는 1897년에 설립된 개신교 미션스쿨로서 사립대학이다.<br/>
                     1938년 자진 폐교까지 평양에 캠퍼스가 있었으나,<br/>
                     분단 이후 서울에 캠퍼스를 두게 되었다.<br/>
                     현재 캠퍼스는 서울특별시 동작구 상도로 369 에 있다. <br/>
                </p><br/>
                <div>
                    <h id="markMemoLabel">memo</h>
                    <textarea id="markMemo">기말고사 기간이 되었다!</textarea>
                </div>
                
            </div>    
        </div>
        <div class="footer">    
            <a href="{% url 'home' %}"><img id="homeIcon" class="moveIcon" src="../static/image/homeIcon.png" alt="homeIcon"/></a>
            <a href="{% url 'map' %}"><img id="mapIcon" class="moveIcon" src="../static/image/mapIcon.png" alt="mapIcon"/></a>
            <a href="{% url 'infoBoard' %}"><img id="infoBoardIcon" class="moveIcon" src="../static/image/infoBoardIcon.png" alt="infoBoardIcon"/></a>
            <a href="{% url 'freeBoard' %}"><img id="freeBoardIcon" class="moveIcon" src="../static/image/freeBoardIcon.png" alt="freeBoardIcon"/></a>
    </div>
    </div>
</body>
