<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset= 'utf-8'/>
    <title>Soongsil Campus Map - 지도 </title>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/map.css"/>
    <script src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../static/js/script/common.js"></script>
    <script src="../static/js/script/map.js"></script>
</head>
<body>
    <div class="screenLimit">
        <div class="header">
            <i class="fas fa-bars menuIcon fa-lg"></i>
            <h class="title">Soongsil Campus Map</h>
            <img class="headerLogo" src="../static/image/blueLogo.png" alt="logo"/>
        </div>
        <div class="content">
            <div id="map" style="width:700px;height:800px;"></div>
	        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	1a836a7795770e5334d4b02985cf954a"></script>
	        <script>
		        var container = document.getElementById('map');
		        var options = {
                    // 학교위치 - 위도:  37.49679696920952 경도: 126.95693165834993 
		        	center: new kakao.maps.LatLng(37.496000, 126.958231),
		        	level: 3
		        };
            
		        var map = new kakao.maps.Map(container, options);
                //일단 마카 만드는것 만듬.
                var markerPosition  = new kakao.maps.LatLng(37.496300, 126.958631); 
                var marker = new kakao.maps.Marker({
                position: markerPosition
                });
                marker.setMap(map);

                var iwContent = '<div style="padding:5px;">중앙 도서관 </div>' // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwPosition = new kakao.maps.LatLng(33.450701, 126.570767); //인포윈도우 표시 위치입니다

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                    position : iwPosition, 
                    content : iwContent 
                });

                infowindow.open(map, marker); 
	        </script>
            {% comment %}지도찍는 스크립트
            <script>
            var positions = [];
            for (var i = 0; i < Object.keys(attractions).length; i++) {
                var content = {
                title: attractions[i].title,
                latlng: new kakao.maps.LatLng(attractions[i].mapy, attractions[i].mapx),
                addr1: attractions[i].addr1,
                detail: "디테일입니다 추후 추가예정",
                tel: attractions[i].tel,
            }
            positions.push(content);
            };
            console.log(positions);
            </script> 
            {% endcomment %}
        </div>
        <div class="footer">
            <a href="{% url 'home' %}"><img id="homeIcon" class="moveIcon" src="../static/image/homeIcon.png" alt="homeIcon"/></a>
            <a href="{% url 'map' %}"><img id="mapIcon" class="moveIcon" src="../static/image/mapIcon.png" alt="mapIcon"/></a>
            <a href="{% url 'infoBoard' %}"><img id="infoBoardIcon" class="moveIcon" src="../static/image/infoBoardIcon.png" alt="infoBoardIcon"/></a>
            <a href="{% url 'freeBoard' %}"><img id="freeBoardIcon" class="moveIcon" src="../static/image/freeBoardIcon.png" alt="freeBoardIcon"/></a>
    </div>
    </div>
</body>