<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset= 'utf-8'/>
    <title>Soongsil Campus Map - 지도 </title>
    <link rel="stylesheet" href="../static/css/commonLayout.css"/>
    <link rel="stylesheet" href="../static/css/commonHiddenMenu.css"/>
    <link rel="stylesheet" href="../static/css/map.css"/>
    <script src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../static/js/script/commonLayout.js"></script>
    <script src="../static/js/script/commonHiddenMenu.js"></script>
    <script src="../static/js/script/map.js"></script>
</head>
<body>
    <div class="screenLimit">
        <div class="header">
            <i class="fas fa-bars menuIcon fa-lg"></i>
            <h class="title">Soongsil Campus Map</h>
            <img class="headerLogo" src="../static/image/blueLogo.png" alt="logo"/>
        </div>
        <div class="contentMap">
            <div id="map" style="width:700px;height:800px;"></div>
	        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	1a836a7795770e5334d4b02985cf954a"></script>
	        <script>
		        var container = document.getElementById('map');
		        var options = {
                    // 학교위치 - 위도:  37.49679696920952 경도: 126.95693165834993 
		        	center: new kakao.maps.LatLng(37.496000, 126.958231),
		        	level: 3
		        };
                var infowindows = [];
		        var map = new kakao.maps.Map(container, options);
                var positions = [
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">피라미드</div>',
                        latlng: new kakao.maps.LatLng(37.496000, 126.958231),
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">미래관</div>',
                        latlng: new kakao.maps.LatLng(37.495636, 126.958433)
                    },
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">조만식기념관</div>',
                        latlng: new kakao.maps.LatLng(37.497300, 126.958221)
                    },
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">학생회관</div>',
                        latlng: new kakao.maps.LatLng(37.497000, 126.956820)
                    },          
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">웨스터민스터홀</div>',
                        latlng: new kakao.maps.LatLng(37.496800, 126.958431)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">진리관</div>',
                        latlng: new kakao.maps.LatLng(37.496900, 126.957461)
                    },
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">베어드홀</div>',
                        latlng: new kakao.maps.LatLng(37.496500, 126.956461)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">형남공학관</div>',
                        latlng: new kakao.maps.LatLng(37.495700, 126.956061)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">숭덕경상관</div>',
                        latlng: new kakao.maps.LatLng(37.496900, 126.955061)
                    },
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">문화관</div>',
                        latlng: new kakao.maps.LatLng(37.496600, 126.954361)
                    } ,          
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">전산관</div>',
                        latlng: new kakao.maps.LatLng(37.495456, 126.959533)
                    } ,       
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">정보과학관</div>',
                        latlng: new kakao.maps.LatLng(37.494536, 126.959933),
                    } ,    
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">벤처중소기업센터</div>',
                        latlng: new kakao.maps.LatLng(37.497556, 126.957533),
                    } ,
                    {
                        content:'<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">교육관</div>',
                        latlng: new kakao.maps.LatLng(37.497856, 126.956833),
                    } ,    
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">백마관</div>',
                        latlng: new kakao.maps.LatLng(37.497856, 126.956233),
                    },     
                    {
                        content: '<div style="float:left;color:rgb(97, 97, 97);margin-left:5%;width:100%;padding:3%;margin-left:3%;">중앙도서관</div>',
                        latlng: new kakao.maps.LatLng(33.450701, 126.570767),
                    }                      
                                                                                                                                                       
                ];

                                for (var i = 0; i < positions.length; i ++) {
                   // 마커를 생성합니다

                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: positions[i].latlng, // 마커의 위치
                        clickable: true
                    });

                    // 마커에 표시할 인포윈도우를 생성합니다 
                    var infowindow = new kakao.maps.InfoWindow({
                        content: positions[i].content, // 인포윈도우에 표시할 내용
                        subject: positions[i].content,
                    });
                    infowindows.push(infowindow);
                    var clicked = 0;
                    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    var index = i;
                    kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow, clicked, positions, index));
                }
                function makeOverListener(map, marker, infowindow, clicked, positions, index) {
                    return function() {
                        console.log('clicked: ' + clicked);
                        if(clicked === 0){
                            allInfowindowClose();
                            clicked = 1;
                            infowindow.open(map, marker);
                            console.log("map "+index);
                            console.log(positions[index]);
                        }
                        else{
                            clicked = 0;
                            infowindow.close();
                        }
                    };
                }
                function allInfowindowClose() {
                   for(var i=0; i<infowindows.length; i++) {
                        var infowindow = infowindows[i];
                        infowindow.close();
                    }
                };

	        </script>
            {% comment %}지도찍는 스크립트
            <script>
            var positions = [];
            for (var i = 0; i < Object.keys(attractions).length; i++) {
                var content = {
                title: attractions[i].title,
                latlng: new kakao.maps.LatLng(attractions[i].mapy, attractions[i].mapx),
                addr1: attractions[i].addr1,
                detail: "디테일입니다 추후 추가예정",
                tel: attractions[i].tel,
            }
            positions.push(content);
            };
            console.log(positions);
            </script> 
            {% endcomment %}
        </div>
        <div class="infoMap">
            <div id="markTitle">
                <h id="markName">건물명</h>
                <h id="markType">교내건물</h><br/><br/><br/>
            </div>
            <div id="markContent">
                <p id="markInfo">이 건물은 무슨 수업 위주로 있는 건물이다<br/>
                1. 팀플 가능한 장소들 : 3층, 4층에 의자와 책상이 있음<br/>
                2. 특징 : 무슨 건물과 이어져있어서 연강시 바로 이동 가능<br/>
            </p><br/>
                <h id="markMemoLabel">memo</h>
                <textarea id="markMemo">여기에는 화요일 수업이 5개가 있다</textarea>
            </div>    
        </div>
        <div class="footer">    
            <a href="{% url 'home' %}"><img id="homeIcon" class="moveIcon" src="../static/image/homeIcon.png" alt="homeIcon"/></a>
            <a href="{% url 'map' %}"><img id="mapIcon" class="moveIcon" src="../static/image/mapIcon.png" alt="mapIcon"/></a>
            <a href="{% url 'infoBoard' %}"><img id="infoBoardIcon" class="moveIcon" src="../static/image/infoBoardIcon.png" alt="infoBoardIcon"/></a>
            <a href="{% url 'freeBoard' %}"><img id="freeBoardIcon" class="moveIcon" src="../static/image/freeBoardIcon.png" alt="freeBoardIcon"/></a>
    </div>
    </div>
</body>
