.screenLimit {
  width: 30%;
  min-width: 460px;
  min-height: 500px;
  height: 100vh;
  float: left;
  margin: -1% 35%;
  padding: 0;
  border: 1px solid rgb(236, 236, 236);
  border-top: none;
  border-bottom: none;
}
.header {
  width: 100%;
  min-height: 50px;
  float: left;
  background-color: #7bc4c3;
}
.header .menuIcon {
  float: left;
  color: white;
  margin: 5%;
}
.header .title {
  float: left;
  margin-top: 3.7%;
  margin-left: 7%;
  color: white;
  font-size: 1.5rem;
}
.header .titleType2 {
  margin-left: 20%;
}
.header .titleType3 {
  margin-left: 27%;
}
.header .headerLogo {
  float: right;
  width: 15%;
  margin-top: 2.5%;
  margin-right: 10%;
}
.header .writeIcon {
  float: right;
  width: 9%;
  margin-top: 3.5%;
  margin-right: 2%;
}
.header .searchIcon {
  float: right;
  width: 9%;
  margin-top: 3%;
  margin-right: 2%;
}

.content {
  width: 100%;
  height: 80%;
  float: left;
  background-color: white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
}
.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.footer {
  width: 100%;
  height: 10%;
  float: left;
  border-top: 0.5px solid rgb(174, 174, 174);
  background-color: white;
}
.footer .moveIcon {
  width: 10%;
  height: auto;
  margin: 2% 6.4%;
}
.boardRealList {
  list-style: none;
  font-size: 1rem;
  color: #707070;
  width: 100%;
  padding: 0;
  margin-top: 0%;
}
.boardRealList li {
  clear: both;
  text-align: left;
  border-bottom: 1px solid #cfcfcf;
  padding: 4% 1% 1% 5%;
  min-height: 102px;
}
.boardRealList img {
  width: 20%;
  float: right;
  margin-right: 3%;
}
.boardRealList p {
  width: 90%;
}
